.indicator {
  animation: fadeIn 0.2s ease-in-out forwards;
  position: absolute;
  display: inline-block;
  transition: scale 0.2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
