/* ---------- ChessBoard Container ---------- */
.chessboard-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: min(2vh, 2vw);
  margin-top: 2rem;
  width: min(80vh, 80vw);
  box-sizing: border-box;
  background-color: var(--background-color-secondary);
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  user-select: none;
}

/* ---------- Player Cards ---------- */
.player-card-left,
.player-card-right {
  position: absolute;
  width: max-content;
  max-width: 20rem;
  z-index: 3;
}

.player-card-left {
  left: 0;
  top: 0;
  transform: translateY(-120%);
}

.player-card-right {
  right: 0;
  bottom: 0;
  transform: translateY(120%);
}

/* ---------- Heading Style ---------- */
.chessboard-heading {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: min(2vh, 2vw);
  text-transform: capitalize;
}

/* ---------- Chessboard Styles ---------- */
.chessboard {
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  touch-action: none;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border-radius: 0.5rem;
  z-index: 2;
}

/* ---------- Square Styles ---------- */
.square {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: grab;
  transition: filter 0.2s ease;
  aspect-ratio: 1 / 1;
}

.square.black {
  background-color: var(--black-square-color);
}

.square.white {
  background-color: var(--white-square-color);
}

.square.available-move {
  cursor: pointer;
}

.square.grabbing {
  cursor: grabbing;
}

/* ---------- Indicator Styles ---------- */
.indicator {
  animation: fadeIn 0.2s ease-in-out forwards;
  position: absolute;
  display: inline-block;
  transition: scale 0.2s ease-in-out;
}

.indicator.move {
  height: 20%;
  width: 20%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.indicator.capture {
  height: 90%;
  width: 90%;
  background-color: transparent;
  border-radius: 50%;
  border: 0.28125rem solid rgba(255, 255, 255, 0.7);
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
}

.indicator.capture.hover {
  border: 0.4375rem solid rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes fadeIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* ---------- Piece Styles ---------- */
.piece {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piece img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: none;
  max-height: none;
  z-index: 9;
}

/* Override component's fixed dimensions */
.square .piece img {
  width: 100% !important;
  height: 100% !important;
}

.piece.dragging {
  position: fixed;
  pointer-events: none;
  scale: 1.4;
  z-index: 10;
  width: min(10vh, 10vw);
  height: min(10vh, 10vw);
  aspect-ratio: 1 / 1;
}

.piece.dragging img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
