.player-card {
  background-color: var(--background-color-secondary);
  color: var(--font-color);
  border-radius: 0.5rem;
  z-index: 1;
  padding: 0rem 1.5rem;
  height: max(3rem, 5vh);
  max-width: 20rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.player-card-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 100%;
}

.player-card-status-icon.connected {
  color: var(--success-color);
  flex-shrink: 0;
  stroke-width: 0.16rem;
}

.player-card-status-icon.disconnected {
  color: var(--error-color);
  flex-shrink: 0;
  stroke-width: 0.16rem;
}

.player-card-name {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

.active-timer {
  font-weight: 600;
  color: var(--primary-color);
}
