.promotion-menu {
  flex-direction: column;
  top: 0%;
  position: absolute;
  display: flex;
  background-color: transparent;
  border-radius: 0.5rem;
  z-index: 100010;
  animation: fadeIn 0.5s forwards;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
  pointer-events: auto; /* Ensures the menu captures hover events */
}

.promotion-piece {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(10vh, 10vw);
  height: min(10vh, 10vw);
  aspect-ratio: 1 / 1;
  background-color: var(--primary-color);
  border: 0.25rem solid var(--primary-color-darker);
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.promotion-piece:hover {
  background-color: var(--primary-color-darker);
}

.promotion-piece:hover img {
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
}

.promotion-piece img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: filter 0.3s ease;
}

@media (max-width: 768px) {
  .promotion-piece {
    width: min(12vh, 12vw);
    height: min(12vh, 12vw);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
