.promotion-menu {
  top: 110%;
  position: absolute;
  display: flex;
  background-color: transparent;
  border-radius: 0.5rem;
  z-index: 100010;
  animation: fadeIn 0.5s forwards;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
  pointer-events: auto; /* Ensures the menu captures hover events */
}

.promotion-piece {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(10vh, 10vw);
  height: min(10vh, 10vw);
  aspect-ratio: 1 / 1;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease; /* Smooth hover transition */
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.promotion-piece:hover {
  background-color: var(--background-color-secondary);
}

.promotion-piece img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

/* Mobile responsive adjustments */
@media (max-width: 1024px) {
  .promotion-menu {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .promotion-menu {
    transform: translateY(-15px); /* Adjust position for mobile */
  }
  .promotion-piece {
    width: min(12vh, 12vw);
    height: min(12vh, 12vw);
  }
}

@media (max-width: 375px) {
  .promotion-piece {
    width: min(10vh, 10vw);
    height: min(10vh, 10vw);
  }
}

/* Define the fadeIn animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
