@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-primary: "Montserrat", sans-serif;
  --font-color: #f0f0ea;
  --background-color: #121212;
  --background-color-secondary: #2a2a2a;

  --success-color: #7fa67a;
  --error-color: #c27b74;
  --primary-color: #8ba888;
  --primary-color-darker: #667f66;
  --secondary-color: #d6dcd7;
  --white-square-color: #e5d5c5;
  --black-square-color: #9a8070;
}

* {
  font-family: var(--font-primary);
}

@keyframes colorWave {
  0% {
    scale: 1;
    filter: hue-rotate(0deg);
  }

  25% {
    filter: hue-rotate(90deg);
  }

  50% {
    scale: 1.025;
    filter: hue-rotate(180deg);
  }

  75% {
    filter: hue-rotate(270deg);
  }

  100% {
    scale: 1;
    filter: hue-rotate(360deg);
  }
}

@keyframes slowFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
